footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(244, 245, 247);
    }

    /* columwise divide footer page */
.col_footer{
        width: 27%;
        padding:1% 3%;
        float: left;
    }

    /* rowwise divide footer_page */
    /* top parts of footer_part */
.footer_top{
        height: 280px;
        width: 100%;
    }

    .col_footer>div>img{
        height: 30px;
        width: 100px;
    }
    /* 2nd parts of footer_part */
.footer_div_second{
        height:280px;
        width: 100%; 
    }

.col_footer>div>a , .col_footer>div>div>a{
        text-decoration: none;
        color:rgb(162, 162, 162) ;
    }

    /* 3rd parts of footer_part */
.footer_div_3rd{
        height: 300px;
        width: 100%;
        border-top: .5px rgb(162, 162, 162) solid;
        border-bottom: .5px rgb(162, 162, 162) solid;
    }


.col_footer_img{
        width: 27%;
        height: 250px;
        padding:1% 3%;    /*   importnat topixc */
        float: left;
    }
.col_footer_img>img{
        height:30%;
        width: 20%;
        margin: 1%;
    }


.col_footer>img{
        height: 10%;
        width: 13%;
        margin: 1%;
    }

.col_footer_img>h4,.col_footer>h4{
        margin-left: 1%;
    }
#playstore{
       height: 30%;
       width: 90%;
    }

    /* bottom parts of footer_part */
.footer_bottom{
        height: 40px;
        padding-top: 10px;
    }

.footer_bottom>a,.footer_bottom>div>a{
        text-decoration: none;
        color:rgb(162, 162, 162) ;
        text-align: center;    
    }

.flex{
        display: flex;
    }
.flex :nth-of-type(3) {
        flex-basis: 25%;
      }      

    