body{
    background-color:rgb(244, 245, 247);
    font-family: 'Fira Sans',sans-serif;
   
}
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    position: fixed;
    height: 70px;
  }

.style_101{
    height: 500px;
    width: 100%;
   
}
.style_101>div>div{
    height: 350px;
    width: 20%;
    background-color: white;
    margin: 1%;
    text-align: center;
    float: left;
}

.button{
    position:relative;
    margin-top: 180px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
.hidden{
    display:relative;
}
.style_101>div>div>img{
    height: 100%;
    width: 100%;
}

.pick__our__brain{
    height: 400px;
    width: 100%;

}

.pick__our__brain>div>div{
    height: 260px;
    width: 27%;
    background-color: white;
    margin: 1%;
    text-align: center;
    float: left;
}

.pick__our__brain>div>div>div>img{
    height: 40%;
    width: 100%;
}

.empty__div{
    height: 35px;
    width: 100%;
    background-color: white;
}

.pick__more{
    padding:0% 9%;
    /* margin: 1%; */
    font-size: 20px;
}

.main__pick__more{
    padding: 3% 8%;
    width: 90%;
    height: 550px;
    margin: 1%;
}

.main__div__items{
    display: flex;
    width: 88.5%;
    margin: 2% 8%;
}

.long__div{
    height: 502px;
    width: 20%;
    background-color: white;
    margin: 1%;
}

.long__div>div>img{
    height: 50%;
    width: 100%;
}

.long__div>div>img:hover{
    height: 51%;
    width: 101%;
}

.long__div>div>div>a, .long__div>div>h4{
    padding-left: 10%;
    text-decoration: none;
    color:rgb(162, 162, 162) ;
}

.color{
    color:rgb(162, 162, 162) ;
}

.small__div{
    height: 500px;
    width:50%;
    /* background-color: green; */
    margin: 1%;   
}

.small__div__div{
    height: 240px;
    width: 46%;
    background-color: white;
    border:black;
    display: flex;
    float: left;
    margin:2%;
    margin-top: 0px;
    margin-bottom: 4%;
}

.small__div__div>div>img{
    height: 100%;
    width: 90%;
}

.small__div__div>div>img:hover{
    height: 102%;
    width: 95%;
}

.small__div__div>div>div>a, .small__div__div>div>h4{
    padding-left: 10%;
    text-decoration: none;
    color:rgb(162, 162, 162) ;
}

.What_you{
    height: 100px;
    width: 100%;
    background-color: rgb(250, 255, 250);
}

.What_you>h5{
    padding: 3% 9%;
    font-family: 'Hammersmith One',sans-serif;
    font-size: 20px;
}
